pytesseract==0.3.8
face_recognition==1.3.0
web3==5.30.0
Pillow==8.4.0
streamlit==1.15.0
openai==0.10.2
pandas==1.3.3
fpdf==1.7.2
twilio==7.9.0
textblob==0.15.3
numpy==1.21.2
scikit-learn==0.24.2
hashlib==3.10.1
scipy==1.7.1
joblib==1.0.1
pycryptodome==3.10.1
python-dotenv==0.19.2
requests==2.26.0
cryptography==3.4.8
flask==2.1.0
